:root {
  --base-bg-color: #f5f5f5;
  --base-size: 10px;
  --bg-color: #fff;
  --card-color-blue: #00679f;
  --card-color-green: #2b882f;
  --card-color-orange: #d96e26;
  --card-color-purple: #79366a;
  --card-color-red: #d32021;
  --card-color-yellow: #d79e00;
  --disabled-fg-color: #999;
  --fg-color: #000;
  --font-size: 1.8rem;
  --footer-border-color: #d5d5d5;
  --footer-fg-color: #222;
  --line-height: 2.4rem;
  --primary-bg-color: #0d6efd;
  --primary-bg-hover-color: #0b5ed7;
  --primary-fg-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.4);
}

html {
  font-size: var(--base-size);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-bg-color);
  color: var(--fg-color);
  font-family: sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
}

footer {
  border-top: 1px solid var(--footer-border-color);
  color: var(--footer-fg-color);
  padding: 0 2rem 4rem;
}

main {
  background-color: var(--bg-color);
  padding: 1rem 2rem 3rem;
}

.card {
  align-items: center;
  background-color: var(--bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  height: 16rem;
  justify-content: space-between;
  left: 50%;
  margin-left: -6rem;
  position: absolute;
  top: 0;
  width: 12rem;
}

.card--cone {
  background-image: url("images/cone.jpg");
}

.card--lollipop {
  background-image: url("images/lollipop.jpg");
}

.card--peanut {
  background-image: url("images/peanut.jpg");
}

.card--peppermint {
  background-image: url("images/peppermint.jpg");
}

.card__image {
  border-radius: 0.8rem;
  box-shadow:
    inset 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.25),
    inset -0.4rem -0.4rem 0.8rem rgba(255, 255, 255, 0.5);
  height: 7rem;
  margin: 0 auto;
  width: 7rem;
}

.card--face .card__image {
  box-shadow: none;
}

.card--blue .card__image {
  background-color: var(--card-color-blue);
}

.card--green .card__image {
  background-color: var(--card-color-green);
}

.card--orange .card__image {
  background-color: var(--card-color-orange);
}

.card--purple .card__image {
  background-color: var(--card-color-purple);
}

.card--red .card__image {
  background-color: var(--card-color-red);
}

.card--yellow .card__image {
  background-color: var(--card-color-yellow);
}

.cards-container {
  display: flex;
  justify-content: space-around;
}

.container {
  margin: 0 auto;
  max-width: 64rem;
}

.current-card,
.deck {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.current-card .card {
  opacity: 0;
  transition: opacity 0.125s;
  top: 1rem;
}

.deck {
  flex-direction: column;
}

.deck-take {
  background: var(--bg-color);
  border: none;
  color: var(--fg-color);
  cursor: pointer;
  display: block;
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: 0 2rem;
  text-align: center;
  text-decoration: underline;
}

.deck-take:disabled {
  color: var(--disabled-fg-color);
}

.current-card,
.deck__stack {
  height: 16rem;
  padding: 4rem 2rem 0;
  position: relative;
  width: 14rem;
}

.deck__stack .card:nth-child(1) {
  margin-left: -7rem;
}

.deck__stack .card:nth-child(2) {
  top: 1rem;
}

.deck__stack .card:nth-child(3) {
  margin-left: -5rem;
  top: 2rem;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.shuffle {
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: 1rem 2rem;
}

.shuffle:hover {
  background-color: var(--primary-bg-hover-color);
}

.title {
  margin-bottom: 6rem;
}
